
.white {
    background-color: $Very-Light-Grayish-Blue;
    color: black;
}

.veryDark {
    background-color: $Very-Dark-Desaturated-Blue;
    color: white;
}

.veryDarkColor:hover{
    color:  $Very-Light-Grayish-Blue;
    cursor: pointer;
}

.whiteColor:hover{
    color: $Very-Dark-Desaturated-Blue;
    cursor: pointer;
}

.displayFlex{
    display: flex;
}

.displayNone{
    display: none;
}