* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

@import '../colors/all.scss';


.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: $Very-Dark-Blue;
    

    .imgFondo{
        position: absolute;
        top: 0;
        height: 40%;
        width: 100%;
    }

    .imgLight{
        position: absolute;
        top: 0;
        height: 40%;
        width: 100%;

    }
}